---
sitemap:
  exclude: 'yes'
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 50px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 2em 0 1em;
  padding: 2em 0 0;
  @include mobile {
    line-height: 1.4;
  }
}
#box {
  margin: 50px 0;
}
#box h1,
#box h2,
#box h3,
#box h4,
#box h5,
#box h6 {
  text-align: left;
  padding: 0;
  a {
    color: #444;
  }
  margin: 1em 0;
}

#box h2 a {
  color: #111 !important;
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
  a {
    color: #111;
  }

  @media (max-width: 680px) {
    font-size: 18px;
  }
}

h3 {
  font-size: 18px;
  line-height: 1em;
  @media (max-width: 680px) {
    font-size: 14px;
  }
}

h4 {
  font-size: 16px;
  color: $gray;
}

p {
  margin: 15px 0;
  line-height: 1.8em;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  background: rgba(#111, .8);
  position: absolute;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid #666;
  &.static {
    position: static;
  }
  @media (max-width: 640px) {
    position: static;
    background: #111;
  }
  .site-name,
  nav a {
    color: #fff;
  }
  .site-name {
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 27px;
    padding: 0;
    letter-spacing: .1em;
    a:hover {
      text-decoration: none;
      color: #fff
    }
  }
  .site-avatar {
    margin-top: 10px;
  }
  nav {
    margin: 0;
    border-left: 1px solid #666;
    @media (max-width: 820px) {
      display: block;
      width: 100%;
      border: none;
      li {
        border-right: none !important;
        text-align: left !important;
        width: auto !important;
        margin-right: 15px !important;
      }
    }
    @media (max-width: 640px) {
      li {
        margin: 0 15px !important;
      }
    }
  }
  nav li {
    list-style-type: none;
    display: inline-block;
    border-right: 1px solid #666;
    width: 180px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    transition: background .1s;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    &:hover {
      background: rgba(#111, .7)
    }
  }
  nav > .item-with-sub,
  nav > a {
    float: left;
    @media (max-width: 640px) {
      float: none;
      .sub-menu {
        top: 55px;
      }
    }
  }
  nav a {
    box-sizing: border-box;
    display: inline-block;
    font-size: 12px;
    margin: 0;
    letter-spacing: .1em;
    text-transform: uppercase;
    &:hover {
      text-decoration: none;
    }
  }
}

.masthead {
  min-height: 90px;
  @include mobile {
    text-align: center;
  }
  @media (max-width: 640px) {
    height: auto !important;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
    margin-top: 17px;

  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 0px;
  background-color: #111;
  color: #fff;
  clear: both;
}

footer {
  padding: 0;
  text-align: center;
  height: 80px;
  line-height: 80px;
  overflow: hidden;
  .footer-menu {
    float: left;
    a {
      color: #fff;
      font-size: 14px;
      margin-right: 15px;
    }
  }
  .icons {
    margin-top: 20px;
    float: right;
    a {

      margin-left: 15px;
    }
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";




/* custom css */ 

.img-right {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  @media (max-width: 480px) {
    float: none;
    margin: auto;
  }
}

.img-left {
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

.img-medium {
  max-width: 250px;
  height: auto;
}

.img-medium-large {
  max-width: 600px;
  height: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.right-logo {
  position: absolute;
  max-width: 79px;
  bottom: 480px;
  left: 600px;
}

a:hover {
    color: #000;
    cursor: pointer;
    text-decoration: underline;
}

.circle {
  border-radius: 50%;
}

.site-name {
  margin-top: 10px;
}

.footer-menu {
  text-align: center;
  margin-bottom: 15px;

  a {
    padding: 0px 5px;
  }
}

.button {
  padding: 8px 16px;
  display: inline-block;
  text-decoration: none;
  border-radius: 3px;
  background-color: #ccc; /* Temp */
}

.button-buy {
  background: slategrey;
  color: #fff;

}

.button-buy:hover {
  background: lightslategrey;
}

.img-large {
  max-width: 700px;
  max-height: auto;
}

.img-small {
  max-width: 180px;
  max-height: autwro;
}

.big-button {
    background: #64a767 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    border: 2px solid #64a767;
    transition: all .2s;
    text-decoration: none;
    font-size: 17px;
    padding: 15px 20px;
    font-size: 14px;
    padding: 10px 15px;
    @media (max-width: 860px) {
      font-size: 12px;
      padding: 5px 10px;
    }
    @media (max-width: 640px) {
      font-size: 8px;
      padding: 2px 6px;
    }
    &:hover {
      background: rgba(#111, 0);
      color: #64a767;
      text-decoration: none;
    }
}

p img {
  margin: 50px auto;
  display: block;
}


.button-long {
  background: #4183c4 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #4183c4;
    width: 100%;
}

.button-long:hover {
  background: #fff none repeat scroll 0 0;
    border: 1px solid #4183c4;
    color: #4183c4;
}

input[type="text"], input[type="email"] {
    clear: both;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

textarea[type="message"] {
    clear: both;
    margin-bottom: 10px;
    min-height: 100px;
    padding: 5px;
    width: 100%;
}

.image-left {
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

/* Table */

.basic-table, th, td {
  border: 3px solid #111;
  border-collapse: collapse;
  vertical-align: middle;
}

.basic-table {
  margin: 50px 0;
  width: 100%;
}

th, td {
  padding: 20px 10px;
  text-align: center;
  border-left: none;
  border-right: none;
  @media (max-width: 1170px) {
    padding: 10px 5px;
  }
  @media (max-width: 860px) {
    padding: 5px !important;
  }
  @media (max-width: 640px) {
    font-size: 10px;
  }

}

th {
  background-color: #111;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  @media (max-width: 1170px) {
    font-size: 13px;
  }
  @media (max-width: 640px) {
    font-size: 8px;
  }
  letter-spacing: .01em;
}
td {
    border: 4px solid #eee;
    border-left: none;
    border-right: none;
    &:last-child {
      border-right: 4px solid #eee;
    }
    &:nth-child(2) {
      font-weight: bold;
      font-size: 26px;
      letter-spacing: -0.05em;
      text-align: left;
      padding-left: 60px;
      @media (max-width: 1170px) {
        font-size: 18px;
      }
      @media (max-width: 1170px) {
        font-size: 14px;
      }
    }
    &:first-child {
      border-left: 4px solid #eee;
      padding: 10px;
      font-weight: bold;
      color: #111;
      letter-spacing: .1em;
      position: relative;
      text-align: center;
    }
}
.components {
  text-align: left;
  padding-left: 60px;
  line-height: 2em;
  font-weight: bold;
  letter-spacing: 0em;
  li {
    list-style-type: none;
    display: block;
    position: relative;
    @media (max-width: 1170px) {
      font-size: 16px;
      line-height: 1.8em;
    }
    @media (max-width: 1170px) {
      font-size: 12px;
      line-height: 1.5em;      
    }
    @media (max-width: 640px) {
      font-size: 8px;
    }
    &:before {
      content: '';
      position: absolute;
      left: -40px;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      position: absolute;
      width: 25px;
      height: 25px;
      background: url(./img/checkmark.png);
      background-size: cover;
      @media (max-width: 1170px) {
        left: -20px;
        width: 15px;
        height: 15px;
      }

    }
  }
}
.table-colorful {
  @media (max-width: 640px) {
    tr td,
    tr th {
      &:nth-child(2) {
        display: none;
      }
    }
    // tr td{
    //   &:nth-child(2) {
    //     font-size: 8px;
    //   }
    // }
  }
  td {
    height: 150px;
    &:first-child {
      padding: 0;
      text-align: center;
      color: #fff !important;
    }
    @media (max-width: 860px) {
      padding: 5px !important;
    }
  }
}
.table-colorful tbody tr {
  b {
    width: 222px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: -94px;
    display: block;
    transform: translateY(-50%) rotate(-90deg);
    line-height: 40px;
    @media (max-width: 1170px) {
      width: 170px;
      left: -68px;
    }
    @media (max-width: 860px) {
      width: 154px;
      left: -60px;
    }
    @media (max-width: 640px) {
      width: 157px;
      height: 25px;
      line-height: 25px;
      left: -69px;
    }
    @media (max-width: 420px) {
      width: 153px;
      height: 20px;
      line-height: 20px;
      left: -69px;
    }
  }
  &:nth-child(2) {
    b {
      background: #64a767;
    }
  }
  &:nth-child(3) {
    b {
      background: #77a764;
    }
  }
  &:nth-child(4) {
    b {
      background: #8da764;
    }
  }
  &:nth-child(5) {
    b {
      background: #a4a764;
    }
  }
  &:nth-child(6) {
    b {
      background: #a79464;
    }
  }
  &:nth-child(7) {
    b {
      background: #a77e64;
    }
  }
}

tr {
  background-color: white;
}

.table-image {
  max-width: 70px;
  height: auto;
  @media (max-width: 640px) {
    max-width: 45px;
  }
}

.img-middle {
  max-width: 50%;
  text-align: center;
  margin: auto;
  display: block;
}

.money {
  max-width: 250px;
  height: auto;
}

.money-small {
  max-width: 100;
  height: auto;
}

/* Youtube Reflexive */
.vid-container {
    position: relative;
    padding-bottom: 50%;
    padding-top: 35px; height: 0; overflow: hidden;
}

.vid-container iframe,
.vid-container object,
.vid-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Table of Contents */

#markdown-toc::before, .toc_list::before {
    background: #666 none repeat scroll 0 0;
    color: white;
    content: "Page Index";
    display: block;
    font-weight: bold;
    padding: 1px 6px;
    text-align: center;
}

#markdown-toc, .toc_list {
    float: right;
    margin: 0 0 5px 10px;
    padding: 10px 15px;
    width: 230px;
}

#markdown-toc li, .toc_list li {
    background: #efefef none repeat scroll 0 0;
    border-bottom: 1px solid #fff;
    font-size: 15px;
    font-weight: 400;
    list-style-type: none;
    padding: 3px 6px;
    transition: background-color 0.5s ease 0s;
}

#markdown-toc li a, .toc_list li a {
 display: block;
 color: #000;
}

#markdown-toc li li, #markdown-toc li ul, .toc_list li li, .toc_list li ul {
    border: 0 none;
    padding-left: 7px;
}

#base {
  width: 100%;
  text-align: center;
}

#box {
  width: auto;
  height: auto;
  background: white;
  text-align: center;
  display: inline-block;
  border: 5px solid black;
  padding: 20px;

}

.text-box-grey {
  width: auto;
  height: auto;
  text-align: center;
  border: 3px solid #c2c4c6;
  border-radius: 20px;
}

.header-box {
  width: auto;
  height: auto;
  background: #4e84db;
  padding: 10px 10px;
  margin: 20px;
  border-radius: 10px;
  border: 3px solid black;
}

.specs-box {
  width: auto;
  height: auto;
  text-align: left;
  border: 3px solid black;
}

#first-letter {
  font-size: 30px;
}

.hero {
  background: url(./img/bg.jpeg);
  background-position: center;
  background-size: cover;
  height: 80vh;
  position: relative;
  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 20;
    width: 90%;
  }
  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    right: 0;
    background: rgba(#111, .5)
  }
  h2,
  p {
    position: relative;
    z-index: 50;
    color: #fff;
    text-shadow: 4px 4px 2px rgba(#000, .4)
  }
  h2 {
    font-size: 54px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .08em;
    @media (max-width: 768px) {
      font-size: 34px;
    }
    @media (max-width: 480px) {
      font-size: 26px;
    }
  }
  p {
    font-size: 24px;
    @media (max-width: 768px) {
      font-size: 18px;
    }
    @media (max-width: 480px) {
      font-size: 16px;
    }
    opacity: .8;
    letter-spacing: .05em;
  }
}

.services {
  overflow: hidden;
  height: 50vh;
  position: relative;
  @media (max-width: 820px) {
    height: auto;
    text-align: center;
    padding: 70px 0;
  }
  .content {
    margin: 0 auto;
    max-width: 1170px;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: 820px) {
      position: static;
      transform: none;
    }
  }
  .service-block {
    @media (max-width: 820px) {
      width: 50%;
      margin: auto;
      padding: 40px 10px;
      float: none;
    }
    @media (max-width: 768px) {
      width: 80%;
    }
    @media (max-width: 480px) {
      width: 100%;
    }
    float: left;
    width: 33%;
    text-align: center;
    box-sizing: border-box;
    padding: 120px 30px;
    img {
      width: 30%;
    }
    h2 {
      font-size: 18px;
    }
    a {
      text-decoration: none;
    }
    p {
      color: #141414;
      font-size: 16px;
      line-height: 1.6em;
      a {
        color: #666;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.slide {
  background: url(./img/s-1.jpeg);
  &:nth-child(3) {
    background: url(./img/s-3.jpeg);
  }
  &:nth-child(4) {
    background: url(./img/s-2.jpeg);
  }
  background-size: cover !important;
  background-position: center !important;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  color: #fff;
  position: relative;
  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    right: 0;
    background: rgba(#111, .6)
  }
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 20;
    transform: translate(-50%, -50%);
  }
  .btn-black {
    background: #fff;
    border-radius: 0;
    color: #000;
    border: 2px solid #fff;
    font-size: 17px;
    padding: 15px 20px;
    transition: all .1s;
    @media (max-width: 768px) {
      font-size: 14px;
      padding: 10px 15px;
    }
    &:hover {
      background: rgba(#111, 0);
      color: #fff;
    }
  }
  .left {
    width: 50%;
    float: left;
    @media (max-width: 820px) {
      width: 80%;
    }
    @media (max-width: 480px) {
      width: 100%;
    }
    a {
      text-decoration: none;
      &:hover {
        color: inherit
      }
    }
    h2 {
      color: #fff;
      font-size: 54px;
      line-height: 1.2em;
      margin: 0;
      @media (max-width: 768px) {
        font-size: 34px;
      }
      @media (max-width: 480px) {
        font-size: 28px;
      }
    }
    p {
      line-height: 1.8em;
      opacity: .8;
      font-size: 24px;
      margin-top: 25px;
      margin-bottom: 30px;
      @media (max-width: 768px) {
        font-size: 18px;
      }
      @media (max-width: 480px) {
        font-size: 16px;
      }
    }
  }
  .right {
    text-align: right;
    width: 30%;
    float: right;
    img {
      width: 100%;
    }
  }
}

.sub-menu {
  z-index: 200;
  display: none;
  position: absolute;
  top: 90px;
  width: 100%;
  border: none !important;
  left: 0;
  background: #111;
  li, a {
    border: none !important;
    height: 50px !important;
    line-height: 50px !important;
    font-size: 10px !important;
    @media (max-width: 820px) {
      padding: 0 10px !important;
    }
  }
  li {
    line-height: 15px !important;
  }
  a:first-child {
    display: none;
  }
}

.item-with-sub {
  position: relative;
  &:hover .sub-menu {
    display: block;
  }
}

.block-cart {
  display: block;
  img {
    @media (max-width: 860px) {
      width: 30px;
    }
  }
}
.page > h1 {
  text-align: center;
  font-size: 54px;
  margin: 0 0 30px 0;
  @media (max-width: 680px) {
    font-size: 32px;
  }
}

.page-subtitle {
  padding: 0;
  margin: 0;  
  text-align: center;
  margin-bottom: 100px;
  font-size: 26px;
  img {
    width: 70px;
    height: 70px;
    position: relative;
    top: 25px;
    margin: 0 10px;
  }
  line-height: 40px;
  @media (max-width: 680px) {
    font-size: 18px;
    img {
      width: 40px;
      height: 40px;
      top: 15px;
    }
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.title-text {
  width: 65%;
  display: inline-block;
  text-align: left;
  margin-bottom: 40px;
  @media (max-width: 860px) {
    float: none;
    width: 100%;
  }
}

.title-image {
  float: right;
  width: 250px;
  @media (max-width: 860px) {
    float: none;
    width: 100%;
    display: none;
  }
}