<div class="featured-info-box">
<div class="content">
<div class="img">
<a target="_blank" href="https://billing.apexminecrafthosting.com/aff.php?aff=2776
"><img class="lazyload" alt="apex hosting" data-src="/img/game-hosts/tekkit/apex.jfif" /></a>
</div>
<div class="text">
<h2>Apex Hosting</h2>
<h3>Game Servers</h3>
<p>For a straight-forward renting experience, Apex Hosting offers built-in mod installation and many customization options.</p>
<div class="btn btn-centered">
<a target="_blank" class="cta-button buy-button" href="https://billing.apexminecrafthosting.com/aff.php?aff=2776
">Rent from Apex Hostingg</a>
</div>
</div>
</div>
</div>
<section class="section-pros-cons">
  <div class="pros-cons-container">
    <div class="pros-container"> 
      <div class="pro-con-title">Pros</div> 
      <ul class="info-list"> 
        <li>Easiest mod installation</li> 
        <li>Servers on six continents</li> 
        <li>Customizable modpack installion</li> 
        <li>Free subdomain</li>
        <li>First month costs less</li>
      </ul> 
    </div>
    <div class="cons-container"> 
      <div class="pro-con-title">Cons</div> 
      <ul class="info-list"> 
        <li>Modded servers cost more</li>
        <li>Smaller max server size</li>
      </ul> 
    </div>
  </div>
  <div class="tabs-container">
      <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img lazyload" data-src="/img/icons/server.png"/><span class="tab-btn-title-margin">Type</span>
        </div>
        <div class="tab-btn-data">
          Dedicated
        </div>
      </div>
      <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img lazyload" data-src="/img/icons/person.png"/><span class="tab-btn-title-margin">Mods</span>
        </div>
        <div class="tab-btn-data">
          Yes
        </div>
      </div>
      <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img lazyload" data-src="/img/icons/emergency.png"/><span class="tab-btn-title-margin">Support</span>
        </div>
        <div class="tab-btn-data">
          Great
        </div>
      </div>
    <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img lazyload" data-src="/img/icons/desktop.png"/><span class="tab-btn-title-margin">Platform</span>
        </div>
        <div class="tab-btn-data">
          PC
        </div>
      </div>
    <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img lazyload" data-src="/img/icons/cpanel.png"/><span class="tab-btn-title-margin">cPanel</span>
        </div>
        <div class="tab-btn-data">
          Multicraft
        </div>
      </div>
    <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img lazyload" data-src="/img/icons/security.png"/><span class="tab-btn-title-margin">DDoS</span>
        </div>
        <div class="tab-btn-data">
          Free
        </div>
      </div>
  </div>    
</section>