<div class="featured-info-box">
<div class="content">
<div class="img">
<a target="_blank" href="https://www.gameservers.com/?ref=1666562"><img class="lazyload" alt="GameServers logo" data-src="/img/game-hosts/gameservers/logo.png" /></a>
</div>
<div class="text">
<h2>GameServers</h2>
<h3>Hosting Provider</h3>
<p>GameServers is is one of the oldest hosting companies around today. They have served over 500,000 customers since 2004, including Infinity Ward (COD: Modern Warfare), Treyarch (COD: Black Ops) and more.</p>
<div class="btn btn-centered">
<a target="_blank" class="cta-button buy-button" href="https://www.gameservers.com/?ref=1666562">Rent from GameServers</a>
</div>
</div>
</div>
</div>
<section class="section-pros-cons">
  <div class="pros-cons-container">
    <div class="pros-container"> 
      <div class="pro-con-title">Pros</div> 
      <ul class="info-list"> 
        <li>Long established company</li> 
        <li>Wide variety of games</li> 
        <li>Largest network around the world</li>
      </ul> 
    </div>
    <div class="cons-container"> 
      <div class="pro-con-title">Cons</div> 
      <ul class="info-list"> 
        <li>A bit pricey</li>
        <li>Website looks a bit old</li>
        <li>Support is eh</li>
      </ul> 
    </div>
  </div>
  <div class="tabs-container">
      <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img lazyload" data-src="/img/icons/server.png"/><span class="tab-btn-title-margin">Type</span>
        </div>
        <div class="tab-btn-data">
          Dedicated
        </div>
      </div>
      <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img lazyload" data-src="/img/icons/person.png"/><span class="tab-btn-title-margin">Mods</span>
        </div>
        <div class="tab-btn-data">
          No
        </div>
      </div>
      <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img lazyload" data-src="/img/icons/emergency.png"/><span class="tab-btn-title-margin">Support</span>
        </div>
        <div class="tab-btn-data">
          Eh
        </div>
      </div>
    <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img lazyload" data-src="/img/icons/desktop.png"/><span class="tab-btn-title-margin">Platform</span>
        </div>
        <div class="tab-btn-data">
          PC
        </div>
      </div>
    <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img lazyload" data-src="/img/icons/cpanel.png"/><span class="tab-btn-title-margin">cPanel</span>
        </div>
        <div class="tab-btn-data">
          TCAdmin
        </div>
      </div>
    <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img lazyload" data-src="/img/icons/security.png"/><span class="tab-btn-title-margin">DDoS</span>
        </div>
        <div class="tab-btn-data">
          Free
        </div>
      </div>
  </div>    
</section> 