<div class="price-menu-internal">
  <h2>Popular Games</h2>
  <ul style="margin-top: 30px;">
    <li>
      <img class="game-icon lazyload" data-src="/img/game-hosts/rust/logo.png">
      <a class="game-icon-text" href="/game-hosts/rust/">Rust Server Hosting</a>
    </li>
    <li>
      <img class="game-icon lazyload" data-src="/img/game-hosts/terraria/logo.png">
      <a class="game-icon-text" href="/game-hosts/terraria/">Terraria Server Hosting</a>
    </li>
    <li>
      <img class="game-icon lazyload" data-src="/img/game-hosts/squad/logo.png">
      <a class="game-icon-text" href="/game-hosts/squad/">Squad Server Hosting</a>
    </li>
  </ul>
</div>