<div class="price-menu-internal">
  <h2>Popular Games</h2>
  <ul style="margin-top: 30px;">
    <li>
      <img class="game-icon lazyload" data-src="/img/game-hosts/rust/logo.png">
      <a class="game-icon-text" href="/game-hosts/rust/">Rust Server Hosting</a>
    </li>
    <li>
      <img class="game-icon lazyload" data-src="/img/game-hosts/terraria/logo.png">
      <a class="game-icon-text" href="/game-hosts/terraria/">Terraria Server Hosting</a>
    </li>
    <li>
      <img class="game-icon lazyload" data-src="/img/game-hosts/squad/logo.png">
      <a class="game-icon-text" href="/game-hosts/squad/">Squad Server Hosting</a>
    </li>
    <li>
      <img class="game-icon lazyload" data-src="/img/game-hosts/tekkit/tekkit.png">
      <a class="game-icon-text" href="/game-hosts/tekkit/">Tekkit Server Hosting</a>
    </li>
    <li>
      <img class="game-icon lazyload" data-src="/img/game-hosts/space-engineers/logo.jpg">
      <a class="game-icon-text" href="/game-hosts/space-engineers/">Space Engineers Server Hosting</a>
    </li>
    <li>
      <img class="game-icon lazyload" data-src="/img/game-hosts/dayz/logo.jpg">
      <a class="game-icon-text" href="/game-hosts/dayz/">DayZ Server Hosting</a>
    </li>
    <li>
      <img class="game-icon lazyload" data-src="/img/game-hosts/tf2/logo.jpg">
      <a class="game-icon-text" href="/game-hosts/tf2/">TF2 Server Hosting</a>
    </li>
    <li>
      <img class="game-icon lazyload" data-src="/img/game-hosts/arma-3/logo.jpeg">
      <a class="game-icon-text" href="/game-hosts/arma-3/">Arma 3 Server Hosting</a>
    </li>
    <li>
      <img class="game-icon lazyload" data-src="/img/game-hosts/gmod/gmod.png">
      <a class="game-icon-text" href="/game-hosts/gmod/">GMod Server Hosting</a>
    </li>
    <li>
      <img class="game-icon lazyload" data-src="/img/game-hosts/csgo/logo.jpg">
      <a class="game-icon-text" href="/game-hosts/csgo/">CS:GO Server Hosting</a>
    </li>
  </ul>
</div>