<table class="basic-table">
  <tr>
    <th>PIC</th>
    <th>Game</th>
    <th>Guide</th>
  </tr>
  <tr>
    <td><img class="lazyload table-image" alt="rust logo" data-src="/img/game-hosts/rust/logo.png"></td>
    <td><a href="/game-hosts/rust/">Rust Server Hosting</a></td>
    <td><a class="big-button" href="/game-hosts/rust/">Check it out</a></td>
  </tr>
  <tr>
    <td><img class="lazyload table-image" alt="terraria logo" data-src="/img/game-hosts/terraria/logo.png"></td>
    <td><a href="/game-hosts/terraria/">Terraria Server Hosting</a></td>
    <td><a class="big-button" href="/game-hosts/terraria/">Check it out</a></td>
  </tr>
</table>