<div class="featured-info-box">
<div class="content">
<div class="img">
<a target="_blank" href="https://www.gameserverkings.com/games/rust-server-hosting/?ref=7961
"><img class="lazyload" alt="Game Server Kings" data-src="/img/game-hosts/game-server-kings/logo.png" /></a>
</div>
<div class="text">
<h2>Game Server Kings</h2>
<h3>Game Servers</h3>
<p>Despite having a limited game selection, Gameserverkings' servers are fast, reliable, and best of all, cheap.</p>
<div class="btn btn-centered">
<a target="_blank" class="cta-button buy-button" href="https://www.gameserverkings.com/games/rust-server-hosting/?ref=7961">Rent from GSK</a>
</div>
</div>
</div>
</div>
<section class="section-pros-cons">
  <div class="pros-cons-container">
    <div class="pros-container"> 
      <div class="pro-con-title">Pros</div> 
      <ul class="info-list"> 
        <li>Terrific performance</li> 
        <li>Great support team</li>
        <li>Affordable prices</li>
      </ul> 
    </div>
    <div class="cons-container"> 
      <div class="pro-con-title">Cons</div> 
      <ul class="info-list"> 
        <li>Support less than 10 games</li>
      </ul> 
    </div>
  </div>
  <div class="tabs-container">
      <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img lazyload" data-src="/img/icons/server.png"/><span class="tab-btn-title-margin">Type</span>
        </div>
        <div class="tab-btn-data">
          Dedicated
        </div>
      </div>
      <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img lazyload" data-src="/img/icons/person.png"/><span class="tab-btn-title-margin">Mods</span>
        </div>
        <div class="tab-btn-data">
          Yes
        </div>
      </div>
      <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img lazyload" data-src="/img/icons/emergency.png"/><span class="tab-btn-title-margin">Support</span>
        </div>
        <div class="tab-btn-data">
          Great
        </div>
      </div>
    <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img lazyload" data-src="/img/icons/desktop.png"/><span class="tab-btn-title-margin">Platform</span>
        </div>
        <div class="tab-btn-data">
          PC
        </div>
      </div>
    <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img lazyload" data-src="/img/icons/cpanel.png"/><span class="tab-btn-title-margin">cPanel</span>
        </div>
        <div class="tab-btn-data">
          TCAdmin
        </div>
      </div>
    <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img lazyload" data-src="/img/icons/security.png"/><span class="tab-btn-title-margin">DDoS</span>
        </div>
        <div class="tab-btn-data">
          Free
        </div>
      </div>
  </div>    
</section>  