<table class="basic-table" align="center">
  <tr>
    <th>Logo</th>
    <th>Host</th>
    <th>Details</th>
    <th>Rent</th>
  </tr>
  <tr>
      <td><a target="_blank" href="https://hosthavoc.com/billing/aff.php?aff=1379"><img class="lazyload table-image" data-src="/img/game-hosts/host-havoc/logo.jpg" /></a></td>
    <td><a target="_blank" href="https://hosthavoc.com/billing/aff.php?aff=1379">Host Havoc</a></td>
    <td class="components">
      <ul>
      <li>99.9% uptime</li>
      <li>Terrific support</li>
      <li>Easy to use</li>
      </ul>
    </td>
    <td><a target="_blank" class="big-button" href="https://hosthavoc.com/billing/aff.php?aff=1379">Rent a Server</a></td>
  </tr>
  <tr>
      <td><a target="_blank" href="https://pingperfect.com/aff.php?aff=803"><img class="lazyload table-image" data-src="/img/game-hosts/ping-perfect/logo.png" /></a></td>
    <td><a target="_blank" href="https://pingperfect.com/aff.php?aff=803">PingPerfect</a></td>
    <td class="components">
      <ul>
      <li>A+ Performance</li>
      <li>Fair pricing</li>
      <li>Lots of games</li>
      </ul>
    </td>
    <td><a target="_blank" class="big-button" href="https://pingperfect.com/aff.php?aff=803">Rent a Server</a></td>
  </tr>
  <tr>
      <td><a target="_blank" href="https://www.gameserverkings.com/games/rust-server-hosting/?ref=7961"><img class="lazyload table-image" data-src="/img/game-hosts/game-server-kings/logo.png" /></a></td>
    <td><a target="_blank" href="https://www.gameserverkings.com/games/rust-server-hosting/?ref=7961">Gameserverkings</a></td>
    <td class="components">
      <ul>
      <li>Reliable</li>
      <li>Affordable</li>
      <li><10 games</li>
      </ul>
    </td>
    <td><a target="_blank" class="big-button" href="https://www.gameserverkings.com/games/rust-server-hosting/?ref=7961">Rent a Server</a></td>
  </tr>
</table>