<section class="section-pros-cons">
  <div class="pros-cons-container">
    <div class="pros-container"> 
      <div class="pro-con-title">Pros</div> 
      <ul class="info-list"> 
        <li>Supports overclocking</li> 
        <li>Up to 64GB RAM</li> 
        <li>Budget friendly</li>
      </ul> 
    </div>
    <div class="cons-container"> 
      <div class="pro-con-title">Cons</div> 
      <ul class="info-list"> 
        <li>Not the most future proof motherboard</li>
      </ul> 
    </div>
  </div>
  <div class="tabs-container">
      <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="lazyload tab-img" data-src="/img/icons/screen-size.png"/><span class="tab-btn-title-margin">Size</span>
        </div>
        <div class="tab-btn-data">
          mATX
        </div>
      </div>
      <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="lazyload tab-img" data-src="/img/icons/resolution.png"/><span class="tab-btn-title-margin">Resolution</span>
        </div>
        <div class="tab-btn-data">
          B450
        </div>
      </div>
      <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="lazyload tab-img" data-src="/img/icons/refresh.png"/><span class="tab-btn-title-margin">Refresh</span>
        </div>
        <div class="tab-btn-data">
          4
        </div>
      </div>
    <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="lazyload tab-img" data-src="/img/icons/response-time.png"/><span class="tab-btn-title-margin">Response</span>
        </div>
        <div class="tab-btn-data">
          4
        </div>
      </div>
    <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="lazyload tab-img" data-src="/img/icons/monitor-type.png"/><span class="tab-btn-title-margin">Type</span>
        </div>
        <div class="tab-btn-data">
          1
        </div>
      </div>
    <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="lazyload tab-img" data-src="/img/icons/aspect.png"/><span class="tab-btn-title-margin">Ratio</span>
        </div>
        <div class="tab-btn-data">
          Yes
        </div>
      </div>
  </div>    
</section>