<div class="featured-info-box">
<div class="content">
<div class="img">
<a target="_blank" href="https://billing.nitrous-networks.com/aff.php?aff=4261
"><img class="lazyload" alt="Nitrous Networks" data-src="/img/game-hosts/terraria/nitrous-networks.jpg" /></a>
</div>
<div class="text">
<h2>Nitrous Networks</h2>
<h3>Game Servers</h3>
<p>Nitrous Networks provides the lowest prices in its class. If you're looking for a great hosting company on a budget, Nitrous Networks is the move.</p>
<div class="btn btn-centered">
<a target="_blank" class="cta-button buy-button" href="https://billing.nitrous-networks.com/aff.php?aff=4261
">Rent from Nitrous Networks</a>
</div>
</div>
</div>
</div>
<section class="section-pros-cons">
  <div class="pros-cons-container">
    <div class="pros-container"> 
      <div class="pro-con-title">Pros</div> 
      <ul class="info-list"> 
        <li>Free voice server included</li> 
        <li>Very low prices</li> 
        <li>Includes free web hosting and MySQL</li>
        <li>Highly reviewed</li>
      </ul> 
    </div>
    <div class="cons-container"> 
      <div class="pro-con-title">Cons</div> 
      <ul class="info-list"> 
        <li>No mod support</li>
        <li>Terraria servers max out at 30 slots</li>
        <li>Not many server locations</li> 
      </ul> 
    </div>
  </div>
  <div class="tabs-container">
      <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img lazyload" data-src="/img/icons/server.png"/><span class="tab-btn-title-margin">Type</span>
        </div>
        <div class="tab-btn-data">
          Dedicated
        </div>
      </div>
      <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img lazyload" data-src="/img/icons/person.png"/><span class="tab-btn-title-margin">Mods</span>
        </div>
        <div class="tab-btn-data">
          No
        </div>
      </div>
      <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img lazyload" data-src="/img/icons/emergency.png"/><span class="tab-btn-title-margin">Support</span>
        </div>
        <div class="tab-btn-data">
          Good
        </div>
      </div>
    <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img lazyload" data-src="/img/icons/desktop.png"/><span class="tab-btn-title-margin">Platform</span>
        </div>
        <div class="tab-btn-data">
          PC
        </div>
      </div>
    <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img lazyload" data-src="/img/icons/cpanel.png"/><span class="tab-btn-title-margin">cPanel</span>
        </div>
        <div class="tab-btn-data">
          TCAdmin
        </div>
      </div>
    <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img lazyload" data-src="/img/icons/security.png"/><span class="tab-btn-title-margin">DDoS</span>
        </div>
        <div class="tab-btn-data">
          Free
        </div>
      </div>
  </div>    
</section> 