<section class="section-pros-cons">
  <div class="pros-cons-container">
    <div class="pros-container"> 
      <div class="pro-con-title">Pros</div> 
      <ul class="info-list"> 
        <li>Incredible performance</li> 
        <li>Crushes 1440p</li> 
        <li>Can handle 4K and VR</li> 
      </ul> 
    </div>
    <div class="cons-container"> 
      <div class="pro-con-title">Cons</div> 
      <ul class="info-list"> 
        <li>One of the most expensive graphics cards</li> 
      </ul> 
    </div>
  </div>
  <div class="tabs-container">
      <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img" src="/img/icons/flash.png"/><span class="tab-btn-title-margin">Wattage</span>
        </div>
        <div class="tab-btn-data">
          ATX
        </div>
      </div>
      <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img" src="/img/icons/positive-vote.png"/><span class="tab-btn-title-margin">Rating</span>
        </div>
        <div class="tab-btn-data">
          Good
        </div>
      </div>
      <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img" src="/img/icons/wire.png"/><span class="tab-btn-title-margin">Modularity</span>
        </div>
        <div class="tab-btn-data">
          Great
        </div>
      </div>
    <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img" src="/img/icons/color-palette.png"/><span class="tab-btn-title-margin">Color</span>
        </div>
        <div class="tab-btn-data">
          Yes
        </div>
      </div>
    <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img" src="/img/icons/sata.png"/><span class="tab-btn-title-margin">SATA</span>
        </div>
        <div class="tab-btn-data">
          Great
        </div>
      </div>
    <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img" src="/img/icons/speaker.png"/><span class="tab-btn-title-margin">Noise</span>
        </div>
        <div class="tab-btn-data">
          Quiet
        </div>
      </div>
  </div>    
</section>