<section class="section-pros-cons">
  <div class="pros-cons-container">
    <div class="pros-container"> 
      <div class="pro-con-title">Pros</div> 
      <ul class="info-list"> 
        <li>Supports overclocking</li> 
        <li>Up to 64GB RAM</li> 
        <li>Budget friendly</li>
      </ul> 
    </div>
    <div class="cons-container"> 
      <div class="pro-con-title">Cons</div> 
      <ul class="info-list"> 
        <li>Not the most future proof motherboard</li>
      </ul> 
    </div>
  </div>
  <div class="tabs-container">
      <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img" src="/img/icons/clock.png"/><span class="tab-btn-title-margin">Clock</span>
        </div>
        <div class="tab-btn-data">
          mATX
        </div>
      </div>
      <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img" src="/img/icons/flash.png"/><span class="tab-btn-title-margin">Boost</span>
        </div>
        <div class="tab-btn-data">
          B450
        </div>
      </div>
      <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img" src="/img/icons/cores.png"/><span class="tab-btn-title-margin">Cores</span>
        </div>
        <div class="tab-btn-data">
          4
        </div>
      </div>
    <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img" src="/img/icons/bulb.png"/><span class="tab-btn-title-margin">TDP</span>
        </div>
        <div class="tab-btn-data">
          4
        </div>
      </div>
    <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img" src="/img/icons/architecture.png"/><span class="tab-btn-title-margin">Architecture</span>
        </div>
        <div class="tab-btn-data">
          1
        </div>
      </div>
    <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img" src="/img/icons/fan.png"/><span class="tab-btn-title-margin">Cooler</span>
        </div>
        <div class="tab-btn-data">
          Yes
        </div>
      </div>
  </div>    
</section>