<section class="section-pros-cons">
  <div class="pros-cons-container">
    <div class="pros-container"> 
      <div class="pro-con-title">Pros</div> 
      <ul class="info-list"> 
        <li>Dual-channel memory</li> 
        <li>High speed</li> 
        <li>16GB</li>
        <li>Affordable</li>
      </ul> 
    </div>
    <div class="cons-container"> 
      <div class="pro-con-title">Cons</div> 
      <ul class="info-list"> 
        <li>None</li>
      </ul> 
    </div>
  </div>
  <div class="tabs-container">
      <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img" src="/img/icons/database.png"/><span class="tab-btn-title-margin">Amount</span>
        </div>
        <div class="tab-btn-data">
          16GB
        </div>
      </div>
      <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img" src="/img/icons/ram-memory.png"/><span class="tab-btn-title-margin">Modules</span>
        </div>
        <div class="tab-btn-data">
          2x8GB
        </div>
      </div>
      <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img" src="/img/icons/flash.png"/><span class="tab-btn-title-margin">Speed</span>
        </div>
        <div class="tab-btn-data">
          3000MHz
        </div>
      </div>
    <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img" src="/img/icons/chip.png"/><span class="tab-btn-title-margin">Type</span>
        </div>
        <div class="tab-btn-data">
          DDR4
        </div>
      </div>
    <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img" src="/img/icons/cas.png"/><span class="tab-btn-title-margin">CAS</span>
        </div>
        <div class="tab-btn-data">
          15
        </div>
      </div>
    <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img" src="/img/icons/voltage.png"/><span class="tab-btn-title-margin">Voltage</span>
        </div>
        <div class="tab-btn-data">
          1.35V
        </div>
      </div>
  </div>    
</section>