<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Review",
  "name": " {{ page.title }}",
  "review": {
    "@type": "Review",
    "author": {
      "@type": "Person",
      "name": "Jacob Tuwiner"
    },
    "reviewRating": {
      "@type": "Rating",
      "ratingValue": "{{ page.review }}",
      "bestRating": "5",
      "worstRating": "0"
    },
    "name": "{{ page.title }}",
    "author": {
      "@type": "Person",
      "name": "Jacob Tuwiner"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Easy PC"
    }
  }
}
</script>