
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: 'Lato', sans-serif;
$helveticaNeue: 'Lato', sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

// Breakpoints need to be em values and calculated from a 16px base to match their calulated equivelents.
$grid-breakpoints: (
  xs: 0,
  sm: 34.375em, // ~550px
  md: 46.875em, // ~750px
  lg: 62.5em,   // ~1000px
  xl: 75em,     // ~1200px
  xxl: 83.75em  // ~1340px
) !default;
