<span itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
   <meta itemprop="name" content="{{ page.title }}">
  </span>
    
   <span itemprop="author" itemscope itemtype="http://schema.org/Person">
     <b>Review by:</b> <span itemprop="name">Jacob</span>
   </span>
   
   <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
    <b>Rating:</b> <span itemprop="ratingValue">{{ page.review }}</span>
    <meta itemprop="worstRating" content="1">
    <meta itemprop="bestRating" content="5">
   </span>