<section class="section-pros-cons">
  <div class="pros-cons-container">
    <div class="pros-container"> 
      <div class="pro-con-title">Pros</div> 
      <ul class="info-list"> 
        <li>Crazy fast boot speeds</li> 
        <li>Maps load quickly</li> 
        <li>No moving parts</li>
      </ul> 
    </div>
    <div class="cons-container"> 
      <div class="pro-con-title">Cons</div> 
      <ul class="info-list"> 
        <li>Only 480GB of storage</li>
        <li>More expensive than a mechanical drive</li> 
      </ul> 
    </div>
  </div>
  <div class="tabs-container">
      <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img" src="/img/icons/hard-drive.png"/><span class="tab-btn-title-margin">Type</span>
        </div>
        <div class="tab-btn-data">
          SSD
        </div>
      </div>
      <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img" src="/img/icons/gigabyte.png"/><span class="tab-btn-title-margin">Capacity</span>
        </div>
        <div class="tab-btn-data">
          480GB
        </div>
      </div>
      <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img" src="/img/icons/expensive.png"/><span class="tab-btn-title-margin">Price/GB</span>
        </div>
        <div class="tab-btn-data">
          $0.11
        </div>
      </div>
    <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img" src="/img/icons/ruler.png"/><span class="tab-btn-title-margin">Size</span>
        </div>
        <div class="tab-btn-data">
          2.5"
        </div>
      </div>
    <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img" src="/img/icons/sata.png"/><span class="tab-btn-title-margin">Interface</span>
        </div>
        <div class="tab-btn-data">
          SATA
        </div>
      </div>
    <div class="tab-btn">
        <div class="tab-btn-title">
          <img class="tab-img" src="/img/icons/nvme.png"/><span class="tab-btn-title-margin">NVME</span>
        </div>
        <div class="tab-btn-data">
          No
        </div>
      </div>
  </div>    
</section>